---
- name: Create systemd unit from template
  template:
    src: flask-hello.service.j2
    dest: /etc/systemd/system/{{ app_name }}.service
    owner: root
    group: root
    mode: "0644"

- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Enable & restart application service
  systemd:
    name: "{{ app_name }}"
    state: restarted
    enabled: yes
